@import url("../../Components//ReusableTools/variables.css");

.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(110, 110, 110, 0.7);
}

.inlineInputs {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.centeredBox {
  position: fixed;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
}
